@model SubmissionDetailsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="container">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Points</th>
                <th>Values</th>
                <th colspan="4">Description</th>
                <th colspan="3">Comment</th>
            </tr>
        </thead>

        @foreach (var cat in Model.PointCategoryList.Keys)
        {
            <tbody>
                
                @if (Model.PointCategoryList[cat].Count() > 0)
                {
                    <tr>
                        <td id="@cat" class="text-center" colspan="11"><img style="width:30px;" id="Icon" src="~/img/Icons/@cat Icon.svg">@cat</td>
                    </tr>
                   
                    @foreach (var point in Model.PointCategoryList[cat])
                    {

                        @if (Model.PointValues[point.Point_Name] == null)
                        {
                            <tr>
                                <td rowspan=1>@point.Point_Name</td>
                                <td>0</td>
                                <td colspan="3">null</td>
                                <td colspan="3">null</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@point.Point_Name</td>
                                <td>@Model.PointValues[point.Point_Name].Value_point</td>
                                <td colspan="3">@Model.PointValues[point.Point_Name].description</td>
                                <td colspan="3">@Model.PointValues[point.Point_Name].comment</td>
                            </tr>

                        }
                    }
                }
            </tbody>
            @if (Model.ListofAttainement != null && cat == "Delivery")
            {
                <tbody id="AttainementTable">
                    <tr class="thead-dark">
                        <th colspan="11" class="text-center">Attainement</th>
                    </tr>
                    <tr>
                        <td class="text-center">APU</td>
                        <td>Project Name</td>
                        <td>Attainements OTIF</td>
                        <td>Attainements MIX</td>
                        <td>Productivity</td>
                        <td>Downtime</td>
                        <td>Scrap</td>
                        <td colspan="3">Comments</td>
                    </tr>
                    @foreach (var apu in Model.ListofAttainement.Keys)
                    {

                        <tr>
                            <td class="align-middle text-center border-bottom-dark" rowspan=@Model.ListofAttainement[apu].Count()>@apu</td>

                            <td>@Model.ListofAttainement[apu].ElementAt(0).Project_name</td>
                            <td>@Model.ListofAttainement[apu].ElementAt(0).Attainement_OTIF %</td>
                            <td>@Model.ListofAttainement[apu].ElementAt(0).Attainement_Mix %</td>
                            <td>@Model.ListofAttainement[apu].ElementAt(0).Productivity %</td>
                            <td>@Model.ListofAttainement[apu].ElementAt(0).Downtime %</td>
                            <td>@Model.ListofAttainement[apu].ElementAt(0).Scrap %</td>
                            <td colspan="3" class="small">@Html.Raw(Model.ListofAttainement[apu].ElementAt(0).Comment)</td>
                        </tr>
                        @for (int i = 1; i < Model.ListofAttainement[apu].Count(); i++)
                        {
                            <tr>
                                <td>@Model.ListofAttainement[apu].ElementAt(i).Project_name</td>
                                <td>@Model.ListofAttainement[apu].ElementAt(i).Attainement_OTIF %</td>
                                <td>@Model.ListofAttainement[apu].ElementAt(i).Attainement_Mix %</td>
                                <td>@Model.ListofAttainement[apu].ElementAt(i).Productivity %</td>
                                <td>@Model.ListofAttainement[apu].ElementAt(i).Downtime %</td>
                                <td>@Model.ListofAttainement[apu].ElementAt(i).Scrap %</td>
                                <td colspan="3" class="small">@Html.Raw(Model.ListofAttainement[apu].ElementAt(i).Comment)</td>
                            </tr>
                        }


                       

                    }

                </tbody>
            }

        }

    </table>
    </div>
