@model HomeDetailsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h3>@ViewBag.User</h3>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Points</th>
                <th>Values</th>
                <th colspan="3">Description</th>
                <th colspan="3">Comment</th>
                <th>User</th>

            </tr>
        </thead>
            @foreach (var cat in Model.PointCategoryList.Keys)
            {
                <tbody>

                    @if (Model.PointCategoryList[cat].Count() > 0)
                    {
                        <tr>
                            <td id="@cat" class="text-center" colspan="11"><img style="width:30px;" id="Icon" src="~/img/Icons/@cat Icon.svg">@cat</td>
                        </tr>
                        @foreach (var point in Model.PointCategoryList[cat])
                        {

                            @if (Model.ValuesPoint[point.Point_Name].Count() == 0)
                            {
                                <tr>
                                    <td rowspan=1>@point.Point_Name</td>
                                    <td>0</td>
                                    <td colspan="3">null</td>
                                    <td colspan="3">null</td>
                                    <td>null</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td rowspan=@Model.ValuesPoint[point.Point_Name].Count()>@point.Point_Name</td>
                                    <td>@Model.ValuesPoint[point.Point_Name].ElementAt(0).Value_point</td>
                                    <td colspan="3">@Model.ValuesPoint[point.Point_Name].ElementAt(0).comment</td>
                                    <td colspan="3">@Model.ValuesPoint[point.Point_Name].ElementAt(0).description</td>
                                    <td>@Model.ValuesPoint[point.Point_Name].ElementAt(0).Submission.User.ToString()</td>
                                </tr>

                                @for (int i = 1; i < Model.ValuesPoint[point.Point_Name].Count(); i++)
                                {
                                    <tr>
                                        <td>@Model.ValuesPoint[point.Point_Name].ElementAt(i).Value_point</td>
                                        <td colspan="3">@Model.ValuesPoint[point.Point_Name].ElementAt(i).comment</td>
                                        <td colspan="3">@Model.ValuesPoint[point.Point_Name].ElementAt(i).description</td>
                                        <td>@Model.ValuesPoint[point.Point_Name].ElementAt(i).Submission.User.ToString()</td>
                                    </tr>

                                }
                            }
                        }

                    }
                </tbody>
            @if (Model.ListofAttainementAverages != null && cat == "Delivery")
            {
                <tbody id="AttainementTable">
                    <tr class="thead-dark">
                        <th colspan="11" class="text-center">Attainement</th>
                    </tr>

                    @foreach (var apu in Model.ListofAttainementAverages.Keys)
                    {
                        @if (Model.ListofAttainementAverages[apu].Count() > 0)
                        {
                            <tr>
                                <td class="align-middle text-center" rowspan=@(Model.ListofAttainementAverages[apu].Count()+1)>@apu</td>
                                <td>Project Name</td>
                                <td>Attainements OTIF</td>
                                <td>Attainements MIX</td>
                                <td>Productivity</td>
                                <td>Downtime</td>
                                <td>Scrap</td>
                                <td colspan="2">Comments</td>
                            </tr>
                            @foreach (var attainement in Model.ListofAttainementAverages[apu])
                            {
                                <tr>
                                    <td rowspan=1>
                                        @attainement.Project_name %

                                    </td>
                                    <td>@attainement.Attainement_OTIF %</td>
                                    <td>@attainement.Attainement_Mix %</td>
                                    <td>@attainement.Productivity %</td>
                                    <td>@attainement.Downtime %</td>
                                    <td>@attainement.Scrap %</td>
                                    <td colspan=2 class="small">@Html.Raw(attainement.Comment.Replace("\n", "<br />"))</td>
                                </tr>
                            }
                        }

                    }
                </tbody>


            }
            }

    </table>
    
</div>

